
@font-face{
    font-family: rbold;
    src:url('../../../public/font/Roboto-Bold.ttf')
  }
  @font-face{
    font-family: rregular;
    src:url('../../../public/font/Roboto-Regular.ttf')
  }
  @font-face{
    font-family: rmedium;
    src:url('../../../public/font/Roboto-Medium.ttf')
  }
  @font-face{
    font-family: rlight;
    src:url('../../../public/font/Roboto-Light.ttf')
  }
.forgot{
    width: 192rem;
    height: 93rem;
    background-color: pink;
    display: flex;
}
.forgot-left{
    width: 116.5rem;
    height: 93rem;
    background-color: rgb(179, 29, 54);
}
.forgot-left img{
    width: 116.5rem;
    height: 100%;
}
.forgot-right{
    width: 75.5rem;
    height: 93rem;
    background-color: #0E0035;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.forgot-right img {
    width: 36.3rem;
    height:14.2rem;
}

.sub1-forgot-right{
    width: 67.3rem;
    height: 69.2rem;
    /* background-color: #9d96b1; */

}
.subsub1-sub1-forgot-right{
    width: 67.3rem;
    height: 59.4rem;
    background-color: rgb(178, 178, 178,7%);
    border-radius: 5.6rem;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.subsub1-sub1-forgot-right :nth-child(1){
    width: 46.3rem;
    height: 7.5rem;
    font-size: 6.4rem;
    color: white;
    font-weight: 600;
    margin-bottom: 10rem;
    /* background-color: aqua; */
}
.subsub1-sub1-forgot-right :nth-child(2){
    width: 27.1rem;
    height:3rem;
    background-color: rgb(255, 255, 255,0%);
    margin-bottom: 5rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .1rem solid white;
}
.sub1-subsub1-sub1-forgot-right{
display: flex;
}
.sub1-subsub1-sub1-forgot-right :nth-child(1){
width: 2.5rem;
height: 2.5rem;
/* background-color: blanchedalmond; */
margin-right: 1rem;
}
.sub1-subsub1-sub1-forgot-right :nth-child(2){
    width: 23rem;
    height:3rem;
    font-size: 2.4rem;
    background-color: rgb(255, 255, 255,0%);
    color: white;
    font-family: rlight;
    text-align: center;
    border: 0;
    outline: none;
}
.sub1-subsub1-sub1-forgot-right :nth-child(2)::placeholder{
    color: white;

}



.subsub1-sub1-forgot-right :nth-child(3){
    width: 48.5m;
    height:2.5rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: rlight;
margin-bottom: 5rem;
/* border-bottom: .1rem solid white; */
padding-bottom: 1rem;
}
.subsub1-sub1-forgot-right :nth-child(4){
    width: 18.5rem;
    height:4.3rem;
    font-size: 2.4rem;
    background-color: rgb(255, 255, 255,81%);
    color: black;
    text-align: center;
    border: 0;
    border-radius: 1.9rem;
    font-weight: 700;
}

/* //////////////////////////////// */
