.try-dropdown-img {
width: 2rem;
height: 2rem;
cursor: pointer;
}
  .try-dropdown-div{
    width: 20rem;
    text-align: center;
    padding-top: 1.5rem;
    background-color: black;
    border-radius: 1rem;
    font-size: 1.3rem;
    }